body {
    background-color: #269143;
    margin: 0 auto;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    background-color: #252525;
    color: #269143;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(143, 19, 19);
    border-radius: 35px;
}

.loginer {
    display: flex;
    flex-direction: column;
}

h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 3px 6px 2px rgba(0, 0, 0, .3);
    text-decoration: overline;
    font-family: fantasy;
    letter-spacing: 0.5px;
}