    .container {
        margin: 0 auto;
    }
    
    html {
        scroll-behavior: smooth;
    }
    /* INDEX.HTML css codes....1.navbar biraz yuxari qalxmalidi.birazda olcusu balacalassa.okdu....2.nav-barin ustune gelende cixmalidi cole o problem qalib
3.responsivliy qalib */
    
    #mainpage {
        background-color: #111;
        height: 100vh;
    }
    
    .dif-color {
        background-color: #269143;
        height: 200%;
        width: 100%;
        transform: rotate( 13deg);
        left: -78%;
        top: 12%;
        z-index: 1;
    }
    
    .header-photo {
        z-index: 2;
        position: absolute;
        background-color: black;
        top: 7%;
        left: 3%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: calc(100vh - 80px);
        box-shadow: 0 0 7px rgb(0 0 0 / 90%);
        width: 420px;
        height: 500px;
        padding: 0px;
        border: 1px;
        border-radius: 30px;
        overflow: hidden;
    }
    
    .header-photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .header-content {
        text-align: left;
        position: relative;
        top: 50%;
        left: 0%;
    }
    
    .header-content h1 {
        color: #269143;
        font-size: 51px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 10px;
    }
    
    .header-content h2 {
        color: #ffffff;
        font-size: 50px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }
    
    .header-content p {
        font-family: 'Open Sans', sans-serif;
        margin: 15px 0 28px;
        font-size: 16px;
        line-height: 30px;
        color: white;
        width: 100%;
        height: 100px;
    }
    
    .header-content a {
        transition: 1s ease-in-out all;
    }
    
    .header-content a :hover {
        background-color: #269143;
        transition: all 500ms ease;
    }
    
    .header-content i {
        border-radius: 50%;
        background-color: #269143;
        padding: 18px;
        font-size: 24px;
        transform: translateX(35%);
    }
    
    .nav-bar {
        position: absolute;
        top: 50%;
        left: 95%;
        transform: translate(-50%, -50%);
    }
    
    .nav-bar ul li a {
        text-align: center;
    }
    
    .nav-bar i {
        border-radius: 50%;
        color: white;
        padding: 20px 20px 20px 20px;
        font-size: 15px;
        background: #252525;
        cursor: pointer;
        display: block;
    }
    
    .nav-bar ul li {
        padding-bottom: 22px;
    }
    
    .nav-bar i:hover {
        background-color: #269143;
    }
    /* index.html finish */
    /* about.html started */
    
    #aboutpage {
        background-color: #111;
        height: 70vh;
    }
    
    .personalinfos {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        line-height: 1.18rem;
    }
    
    .personalinfos ul li {
        padding: 10px;
        list-style-type: none;
    }
    
    .personalinfos ul li span {
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        padding: 5px;
        color: white;
    }
    
    .stats-item {
        padding: 20px, 30px 25px 40px;
        border-radius: 5px;
        border: 1px solid #3d3d3d;
        width: 270px;
        height: 155px;
    }
    
    .stats-item h3 {
        color: #269143;
        font-size: 30px;
        text-align: left;
        padding-left: 30px;
        padding-top: 30px;
        display: inline-block;
        margin: 0;
        font-size: 50px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }
    
    .stats-item p {
        color: white;
        text-align: center;
        text-transform: uppercase;
    }
    
    .statsitems {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 30px;
    }
    
    .col-5 h1 {
        padding-bottom: 22px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 26px;
        font-family: 'Open Sans', sans-serif;
        padding: 5px;
        color: white;
        font-style: bold;
        transform: translate(8%, 0px);
    }
    
    .col-5 .test i {
        border: 1px solid #269143;
        border-radius: 50%;
        background-color: #269143;
        padding: 15px;
        font-size: 20px;
        font-weight: bolder;
        position: relative;
        left: 21px;
    }
    
    .col-5 .test a {
        text-decoration: none;
    }
    
    .position-center {
        color: rgb(61, 54, 54);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 80px;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        transform: translate(0, 0);
        font-weight: 900;
        letter-spacing: 10px;
        line-height: 0.7;
        color: rgba(155, 53, 53, 0.07);
    }
    
    .navigation-fixed {
        position: fixed;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        right: 2%;
        margin-block-start: -6em;
        margin-block-end: 100em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    
    .navigation-fixed ul li {
        padding-bottom: 13px;
    }
    
    .navigation-fixed i {
        border: 1px solid #269143;
        border-radius: 50%;
        border-color: rgba(255, 180, 0, 0);
        color: white;
        padding: 20px;
        font-size: 14px;
        background: #252525;
        cursor: pointer;
    }
    
    .navigation-fixed i:hover {
        background-color: #269143;
    }
    
    #experiment {
        background-color: #111;
        height: 100vh;
    }
    
    .exper-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        gap: 25px;
        padding-left: 30px;
        text-align: center;
    }
    
    .exper-item {
        width: 500px;
        height: 140px;
        color: white;
        border-radius: 20px;
        text-align: center;
        padding-top: 10px;
    }
    
    #skills {
        background-color: #111;
        height: 100vh;
    }
    
    #skills h1 {
        color: white;
        font-size: 26px;
        font-weight: 600;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        font-style: bold;
        text-align: center;
        padding-bottom: 30px;
        transform: translate(-5%, -50%);
    }
    
    .skills_ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(6, 2fr);
        gap: 10px;
    }
    
    .skills_li {
        display: flex;
        flex-direction: column;
        background-color: #252525;
        opacity: 0.6;
        border: 1px solid transparent;
        border-radius: 35px;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        width: 160px;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    
    .skills_li:hover {
        opacity: 1.6;
    }
    
    .skills_li img {
        padding-top: 3px;
    }
    
    #experiment h1 {
        color: white;
        font-size: 26px;
        font-weight: 600;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        font-style: bold;
        text-align: center;
        padding-bottom: 30px;
        transform: translate(-5%, -50%);
    }
    
    .exper-item i {
        border: 1px solid #269143;
        border-radius: 50%;
        border-color: #269143;
        color: white;
        padding: 10px;
        font-size: 15px;
        background: #269143;
    }
    
    .exper-item span {
        color: #fff;
        font-size: 12px;
        padding: 5px 10px;
        display: inline-block;
        margin-bottom: 12px;
        border-radius: 20px;
        font-weight: 600;
        background-color: #5a5656;
        opacity: .8;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
    }
    
    .exper-item p {
        margin: 0;
        color: white;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        display: block;
        /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 55px;
    margin-inline-end: 0px; */
    }
    
    .exper-item h5 {
        top: -6%;
        font-size: 20px;
        margin: 7px 0 10px;
        text-transform: uppercase;
        font-style: bold;
        font-family: 'Poppins', sans-serif;
    }
    /* ABOUT.html finish  experiment e el gezdirilmelidi vacib seliqesizdi yarimcig kim durur */
    /* BRief sehifesinde problem gorunmur javascripti yigilmalidi wekillere link verilmeli linkler altinda gorduyum 
iwler gorunmelidi.... */
    
    #brief {
        background-color: #111;
    }
    
    .grid-items {
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
        gap: 25px;
        padding: 10px;
        justify-content: center;
    }
    
    .grid-items img {
        cursor: pointer;
        padding: 20px;
        object-fit: cover;
        border: 3px solid #269143;
        border-radius: 35px;
    }
    
    .navigation-fixed2 {
        position: fixed;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .navigation-fixed2 ul li {
        padding-bottom: 13px;
        list-style-type: none;
    }
    
    .navigation-fixed2 i {
        border: 1px solid #269143;
        border-radius: 50%;
        border-color: rgba(255, 180, 0, 0);
        color: white;
        padding: 17px;
        font-size: 14px;
        background: #3a3b3b;
    }
    /* brief page finished */
    /* COntact page started 

*/
    
    #worksport {
        background-color: #111;
        position: relative;
        padding-bottom: 20px;
    }
    
    #worksport h1 {
        position: relative;
        text-align: center;
        transform: translate(0, 100%);
        font-size: 56px;
        font-weight: 800;
        color: #fff;
        text-transform: uppercase;
        margin: 0;
    }
    
    .works {
        position: relative;
        left: 32%;
        font-size: 110px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 10px;
        line-height: 0.6;
        color: rgba(255, 255, 255, 0.07);
    }
    
    #worksport h1 span {
        color: #269143;
    }
    
    .con2-all {
        display: flex;
        top: 60px;
        position: relative;
    }
    
    .coninput {
        display: flex;
        justify-content: space-around;
    }
    
    .coninput input {
        border: 1px solid #111;
        background: #252525;
        padding: 11px 15px;
        border-radius: 35px;
        margin-bottom: 13px;
        color: #fff;
    }
    
    .con-text textarea {
        border: 1px solid #111;
        background: #252525;
        color: #fff;
        width: 100%;
        padding: 12px 26px;
        margin-bottom: 20px;
        height: 160px;
        overflow: hidden;
        border-radius: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    
    .coninput input:nth-child(2) {
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .con-text textarea::placeholder {
        position: absolute;
    }
    
    .con-orta button i {
        border-radius: 50%;
        border: 1px solid #269143;
        font-size: 20px;
        position: relative;
        left: 21px;
        background-color: #269143;
        padding: 17px;
    }
    
    input[type=text] {
        box-sizing: border-box;
        border: 1px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
    }
    
    textarea:focus {
        outline: none !important;
        border-color: #269143;
    }
    
    input[type=text]:focus {
        border: 1px solid #269143;
    }
    
    .connav-bar {
        position: fixed;
        right: 8px;
        margin-block-start: -6em;
    }
    
    .connav-bar i {
        border-radius: 50%;
        border-color: #269143;
        color: white;
        padding: 17px;
        font-size: 15px;
        background: #252525;
        cursor: pointer;
    }
    
    .connav {
        position: fixed;
        top: 40%;
        z-index: 99;
    }
    
    .connav-bar i:hover {
        background-color: #269143;
    }
    
    .connav-bar ul li {
        padding-bottom: 13px;
        list-style-type: none;
    }
    
    .conyazi {
        color: white;
    }
    
    .conyazi h1 {
        text-transform: uppercase;
        font-size: 26px;
    }
    
    .mail-me {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    
    .call-me {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    
    .mail-me i {
        color: #269143;
        font-size: 35px;
    }
    
    .call-me i {
        color: #269143;
        font-size: 35px;
    }
    
    .conyazi-icon i {
        color: #269143;
        border-radius: 50%;
        padding: 7px;
        border: 1px solid transparent;
        background-color: #252525;
        font-size: 20px;
    }
    
    .mail-me h3 {
        font-size: 17px;
        text-transform: uppercase;
        padding-left: 15px;
    }
    
    .call-me h3 {
        font-size: 17px;
        text-transform: uppercase;
        padding-left: 15px;
    }
    
    .mail-me span {
        font-size: 17px;
        text-transform: lowercase;
    }
    
    .call-me span {
        font-size: 17px;
    }
    
    #contact2 {
        background-color: #111;
        height: 95vh;
    }
    
    .works1 {
        position: relative;
        left: 26%;
        font-size: 113px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 1000;
        letter-spacing: 10px;
        line-height: 0.6;
        color: rgba(255, 255, 255, 0.07);
    }
    
    .con-orta a :hover {
        background-color: #269143;
        transition: 250ms ease-out all;
    }
    
    .test button {
        overflow: hidden;
        line-height: 1.4;
        cursor: pointer;
        text-transform: uppercase;
        z-index: 1;
        padding: 0px 20px;
        border-radius: 35px;
        border: 1px solid #269143;
        font-size: 15px;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        /* Old browsers */
        background: linear-gradient(to right, black 50%, #269143 50%);
        background-size: 200% 100%;
        background-position: left bottom;
        transition: all .6s ease;
    }
    
    .test button:hover {
        background-position: right bottom;
    }
    /* COntact page finish */
    /* Blog page started


*/
    /* .blog-items {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 20px;
    box-sizing: border-box;
} */
    
    .cardsss {
        background-color: #252525;
        border: 1px solid #252525;
        border-radius: 5px;
    }
    
    .card-body {
        background-color: #252525;
        color: #269143;
    }
    
    .card-body a {
        text-decoration: underline;
        text-decoration: none;
    }
    
    #blog {
        background-color: #111;
        padding-top: 40px;
        height: 100%;
    }
    
    .navigation-fixed ul li {
        padding-bottom: 13px;
        list-style-type: none;
    }
    
    .works2 {
        position: relative;
        left: 34%;
        font-size: 113px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 1000;
        letter-spacing: 10px;
        line-height: 0.6;
        color: rgba(255, 255, 255, 0.07);
    }
    
    .card-body {
        text-align: center;
    }
    
    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    /* Blog page finished */