<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>
    <div class="nav-bar">
        <ul>
            <li><a href="/admin/home"><i class="fas fa-home"></i></a><span>Home</span></li>
            <li><a href="/admin/skills"><i class="fas fa-grin-wink"></i></a><span>Skills</span></li>
            <li><a href="/admin/projects"><i class="fas fa-briefcase"></i></a><span>Portfolio</span></li>
            <li><a href="/admin/contact"><i class="fas fa-envelope-open"></i></a><span>ContactUs</span></li>
            <li><a href="/admin/blog"><i class="fas fa-comments"></i></a><span>Blog</span></li>
            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i></a><span>Logout</span></li>
        </ul>
    </div>
    {% block content %} {% endblock %}
</body>

</html>