{% extends "admin/base.html" %} {% block content %}
<table class="table table-active">
    <thead>
        <tr>
            <th scope="col">FUll Name</th>
            <th scope="col">Message</th>
            <th scope="col">Mail Adress</th>
            <th scope="col">Subject</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contact %}


        <tr>
            <td>{{contact.contact_name}}</td>
            <td>{{contact.contact_message}}</td>
            <td>{{contact.contact_email}}</td>
            <td>{{contact.contact_title}}</td>

        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}