<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Rahman's World
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/images/istockphoto-1162323394-612x612.jpg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/maintain.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/static/css/bootstrap.css"> -->
</head>

<body>
    <section id="mainpage">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <div class="dif-color">
                    </div>
                    <div class="header-photo">

                        <img src="/static/images/IMG_7011.jpeg" alt="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="header-content">

                        <h1 id="text">
                        </h1>
                        <h2>WEB DEVELOPER</h2>
                        {% for home in homes %}
                        <p>{{home.home_content}}</p>
                        {% endfor %}

                        <div class="test">
                            <button>More about...
                                <a href="#aboutpage" style="color: white;"><i class="fas fa-arrow-right"></i></a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                </div>
            </div>
        </div>
    </section>

    <!-- Index HTML finish -->

    <section id="worksport">
        <h1>ABOUT <span>ME</span></h1>
        <span class="works">RESUME</span>
    </section>

    <!-- ABOUTPAGE START -->
    <section id="aboutpage">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <h1>PERSONAL INFOS</h1>
                    <div class="personalinfos">
                        <div class="firstname">
                            <ul>
                                <li><span>First Name: RAHMAN</span></li>
                                <li><span>Last Name: Ashrafov</span></li>
                                <li><span>Age: 27 years</span></li>
                                <li><span>Nationality:Azerbaijani</span></li>
                                <li><span>Freelance:Avaible</span></li>
                            </ul>
                        </div>
                        <div class="adressinfos">
                            <ul>
                                <li><span>Address:Azerbaijan</span></li>
                                <li><span>Phone:+994-50-201 51 87</span></li>
                                <li><span>Email:rehman199577@gmail.com</span></li>
                                <li><span>Linkedin:RahmanAshraf</span></li>
                                <li><span>Languages:Turkish,Azeri</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="test">
                        <a href="../../static/cv/english cv rahman.rar"><button>Download CV<i class="fas fa-cloud-download-alt"></i></button></a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="statsitems">
                        <div class="stats-item">
                            <h3>4+</h3>
                            <p>Bussines history</p>
                        </div>
                        <div class="stats-item">
                            <h3>10+</h3>
                            <p>Researching experience</p>
                        </div>
                        <div class="stats-item">
                            <h3>3+</h3>
                            <p>Accountanting</p>
                        </div>
                        <div class="stats-item">
                            <h3>1+</h3>
                            <p>Freelancing</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- ABOUTPAGE END -->
    <!-- MYSKILLS -->
    <section id="skills">
        <div class="container">
            <h1>MY SKILLS</h1>
            <!-- <div class="skills"> -->
            <div class="skills_ul">
                {% for skill in skills %}
                <div class="skills_li"><span>{{skill.skills_title}}</span><img src="{{skill.skills_img}}" width="100px" height="100px" alt=""></div>
                {% endfor %}
            </div>

        </div>
    </section>
    <!-- MY skills end -->
    <!-- EXPERIMENT SECTION START -->
    <section id="experiment">
        <div class="container">
            <h1>EXPERIENCE & EDUCATION</h1>
            <div class="row">
                <div class="exper-items">
                    <div class="exper-item">
                        <i class="fas fa-graduation-cap"></i>
                        <span>2013-2017</span>
                        <h5>Bachelor</h5>
                        <p>Baku Slavic University</p>
                    </div>
                    <div class="exper-item">
                        <i class="far fa-star"></i>
                        <span>2017-2018</span>
                        <h5>Military</h5>
                        <p>Sniper</p>
                    </div>
                    <div class="exper-item">
                        <i class="fab fa-ebay"></i>
                        <span>2013-2014</span>
                        <h5>E-commerce</h5>
                        <p>Sales from Ebay</p>
                    </div>
                    <div class="exper-item">
                        <i class="fas fa-coffee"></i>
                        <span>2015-2016</span>
                        <h5>Restoraunt</h5>
                        <p>Director</p>
                    </div>
                    <div class="exper-item">
                        <i class="fas fa-file-invoice-dollar"></i>
                        <span>2019-2021</span>
                        <h5>Accountant</h5>
                        <p>Shopping center</p>
                    </div>
                    <div class="exper-item">
                        <i class="fas fa-lightbulb"></i>
                        <span>2021-Today</span>
                        <h5>Web-developer</h5>
                        <p>Start-14Sep21</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- EXPERIMENT SECTION END -->

    <!-- Brief STARTED -->
    <section id="worksport">
        <h1>MY <span>PORTFOLIO</span></h1>
        <span class="works">WORKS</span>
    </section>
    <section id="brief">
        <div class="container">
            <div class="row">
                <div class="grid-items">
                    {% for project in projects%}
                    <div class="col-4">
                        <a href="{{project.project_url}}" target="_blank"><img src="{{project.project_img}}" alt="" width="200px" height="200px"> </a>
                    </div>
                    {%endfor%}
                </div>

            </div>
        </div>
    </section>

    <!-- BRIEF FINISHED----------------------------------------- -->

    <!-- BLOG STARTED -->

    <section id="worksport">
        <h1>MY <span>BLOG</span></h1>
        <span class="works2">POSTS</span>
    </section>
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="grid">
                    {%for blog in blogs%}
                    <div class="cardsss">
                        <img width="300px" height="300px" style="object-fit: cover;" src="{{blog.blog_img}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="{{blog.blog_url}}" style="color: #269143;" style="text-decoration: underline;">
                                <h4>{{blog.blog_title}}</h4>
                                <p class="card-text">{{blog.blog_content}}</p>
                            </a>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </section>
    <section id="worksport">
        <h1>GET IN <span>TOUCH</span></h1>
        <span class="works1">CONTACT</span>
    </section>
    <section id="contact2">
        <div class="container">
            <div class="con2-all">
                <div class="conyazi">
                    <h1>DON'T BE SHY !</h1>
                    <p>Feel free to get in touch with me. I am always open to discussing new projects, creative ideas or opportunities to be part of your visions.</p>
                    <div class="mail-me"><a href="mailto: rehman199577@gmail.com"><i class="fas fa-envelope-open-text"></i></a>
                        <h3>Mail me <br><span>rehman199577@gmail.com</span></h3>
                    </div>
                    <div class="call-me"><a href="tel:+994502015187"><i class="fas fa-phone-square-alt"></i></a>
                        <h3>Call me <br><span>+994 50 2015187</span></h3>
                    </div>
                    <div class="conyazi-icon">
                        <a href="https://facebook.com/rehman135" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://twitter.com/RehmanEsrefov" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href=https://github.com/rahmanashraf target="_blank"><i class="fab fa-github"></i></a>
                        <a href="https://www.instagram.com/rahmanashrafov/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="con-orta">
                    <form action="admin/contact" , method="POST">
                        <div class="coninput">
                            <input type="text" name="contact_name" placeholder="Your name" required>
                            <input type="text" name="contact_email" placeholder="Your e-mail" required>
                            <input type="text" name="contact_title" placeholder="Subject" required>
                        </div>

                        <div class="con-text">
                            <textarea name="contact_message" id="" cols="30" rows="10"></textarea>
                            <div class="test"><button>Send us<i class="fas fa-paper-plane"></i></button></a>
                            </div>
                    </form>
                    </div>

                    <div class="connav">
                        <div class="connav-bar">
                            <ul>
                                <li><a href="#mainpage"><i class="fas fa-home"></i></a></li>
                                <li><a href="#aboutpage"><i class="fas fa-user"></i></a></li>
                                <li><a href="#brief"><i class="fas fa-briefcase"></i></a></li>
                                <li><a href="#contact2"><i class="fas fa-envelope-open"></i></li>
                                <li><a href="#blog"><i class="fas fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- CONTACT FINISHED -->


    <script src="../../static/js/task3.js"></script>

</body>

</html>

</html>