<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!-- <link rel="stylesheet" href="css/layout.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <section id="worksport">
        <h1>ABOUT <span>ME</span></h1>
        <span class="works">RESUME</span>
    </section>

    <!-- ABOUTPAGE START -->
    <section id="aboutpage">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <h1>PERSONAL INFOS</h1>
                    <div class="personalinfos">
                        <div class="firstname">
                            <ul>
                                <li><span>First Name: RAHMAN</span></li>
                                <li><span>Last Name: Ashrafov</span></li>
                                <li><span>Age: {{years}}</span></li>
                                <li><span>Nationality:Azerbaijani</span></li>
                                <li><span>Freelance:Avaible</span></li>
                            </ul>
                        </div>
                        <div class="adressinfos">
                            <ul>
                                <li><span>Address:Azerbaijan</span></li>
                                <li><span>Phone:+994-50-201 51 87</span></li>
                                <li><span>Email:rehman199577@gmail.com</span></li>
                                <li><span>Linkedin:RahmanAshraf</span></li>
                                <li><span>Languages:Turkish,Azeri</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="test">
                        <a href="/static/cv/english cv rahman.rar"><button>Download CV<i class="fas fa-cloud-download-alt"></i></button></a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="statsitems">
                        <div class="stats-item">
                            <h3>4+</h3>
                            <p>illik Biznes tecrubəsi</p>
                        </div>
                        <div class="stats-item">
                            <h3>26+</h3>
                            <p>illik heyat tecrubesi</p>
                        </div>
                        <div class="stats-item">
                            <h3>26+</h3>
                            <p>illik heyat tecrubesi</p>
                        </div>
                        <div class="stats-item">
                            <h3>26+</h3>
                            <p>illik heyat tecrubesi</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="navigation-fixed">

                        <ul>
                            <li><a href="index"><i class="fas fa-home"></i></a></li>
                            <li><a href="about"><i class="fas fa-user"></i></a></li>
                            <li><a href="brief"><i class="fas fa-briefcase"></i></a></li>
                            <li><a href="contact2"><i class="fas fa-envelope-open"></i><spa</a></li>
                            <li><a href="blog"><i class="fas fa-comments"></i></a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUTPAGE END -->
    <!-- EXPERIMENT SECTION START -->
    <section id="experiment">
        <div class="container">
            <h1>EXPERIENCE & EDUCATION</h1>
            <div class="row">
                <div class="exper-items">
                    <div class="exper-item">
                        <i class="fas fa-briefcase"></i>
                        <span>2013-2017</span>
                        <h5>Bakalavr</h5>
                        <p>Baki Slavyan Universiteti</p>
                    </div>
                    <div class="exper-item">
                        <i class="fas fa-briefcase"></i>
                        <span>2017-2018</span>
                        <h5>Herbi xidmet</h5>
                        <p>Agdam Milli ordu</p>
                    </div>
                    <div class="exper-item">
                        <i class="fas fa-briefcase"></i>
                        <span>2013-2014</span>
                        <h5>E-ticaret</h5>
                        <p>Ebay,Amazon,Aliexpress</p>
                    </div>
                    <div class="exper-item">
                        <i class="fas fa-briefcase"></i>
                        <span>2015-2016</span>
                        <h5>Restoran</h5>
                        <p>PlaystationCLub,LigtvHome</p>
                    </div>
                    <div class="exper-item">
                        <i class="fas fa-briefcase"></i>
                        <span>2019-2021</span>
                        <h5>Muhasib</h5>
                        <p>Ticaret Merkezi</p>
                    </div>
                    <div class="exper-item">
                        <i class="fas fa-briefcase"></i>
                        <span>2021-Bugün</span>
                        <h5>Web-developer</h5>
                        <p>Başlıyıb yeni bir yol</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- EXPERIMENT SECTION END -->
</body>

</html>