<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>
    <section id="worksport">
        <h1>MY <span>BLOG</span></h1>
        <span class="works2">POSTS</span>
    </section>
    <section id="blogpage">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="blog-items">

                        <div class="card" style="width: 20rem; height: 27rem;">
                            <img src="../static/images/1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4>Heyata baxis acim</h4>
                                <p class="card-text">ndnsjnadjnsjkadnnfkjansjfkjdsnfjsndjfknadsnfjdasnkfndskjaffadsfasdfasdfsdfasfsdfafdffsnjksdfnaksfnkjdsnfjsfnakjsnfjkadsnfnsjdfjjsdkfdsnafj;gmaldgsbnadvmSome quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>


                        <div class="card" style="width: 20rem; height: 27rem;">
                            <img src="../static/images/1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4>Heyata baxis acim</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>


                        <div class="card" style="width: 20rem; height: 27rem;">
                            <img src="../static/images/1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4>Heyata baxis acim</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>


                        <div class="card" style="width: 20rem; height: 27rem;">
                            <img src="../static/images/1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4>Heyata baxis acim</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>


                        <div class="card" style="width: 20rem;height: 27rem;">
                            <img src="../static/images/1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4>Heyata baxis acim</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>


                        <div class="card" style="width: 20rem; height: 27rem;">
                            <img src="../static/images/1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4>Heyata baxis acim</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="navigation-fixed">

                            <ul>
                                <li><a href="index"><i class="fas fa-home"></i></a></li>
                                <li><a href="about"><i class="fas fa-user"></i></a></li>
                                <li><a href="brief"><i class="fas fa-briefcase"></i></a></li>
                                <li><a href="contact2"><i class="fas fa-envelope-open"></i><spa</a></li>
                                <li><a href="blog"><i class="fas fa-comments"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>