<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>
    <section id="worksport">
        <h1>MY <span>PORTFOLIO</span></h1>
        <span class="works">WORKS</span>
    </section>
    <section id="brief">
        <div class="container">
            <div class="row">
                <div class="grid-items">
                    <div class="col-4"><img src="../static/images/IMG_7011.jpeg" alt=""></div>
                    <div class="col-4"><img src="../static/images/IMG_7052.jpeg" alt=""></div>
                    <div class="col-4"><img src="../static/images/IMG_7124.jpeg" alt=""></div>
                    <div class="col-4"><img src="../static/images/IMG_7133.jpeg" alt=""></div>
                    <div class="col-4"><img src="../static/images/IMG_7223.jpeg" alt=""></div>
                    <div class="col-4"><img src="../static/images/IMG_7686.jpeg" alt=""></div>
                    <div class="col-4"><img src="../static/images/IMG_7977.jpeg" alt=""></div>
                    <div class="col-4"><img src="../static/images/IMG_8921.jpeg" alt=""></div>
                    <div class="col-4"><img src="../static/images/IMG_9001.jpeg" alt=""></div>
                </div>

                <div class="navigation-fixed">

                    <ul>
                        <li><a href="index"><i class="fas fa-home"></i></a></li>
                        <li><a href="about"><i class="fas fa-user"></i></a></li>
                        <li><a href="brief"><i class="fas fa-briefcase"></i></a></li>
                        <li><a href="contact2"><i class="fas fa-envelope-open"></i><spa</a></li>
                        <li><a href="blog"><i class="fas fa-comments"></i></a></li>
                    </ul>

                </div>
            </div>
        </div>
    </section>
</body>

</html>