<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>
    <section id="worksport">
        <h1>GET IN <span>TOUCH</span></h1>
        <span class="works1">CONTACT</span>
    </section>
    <section id="contact2">
        <div class="container">
            <div class="con2-all">
                <div class="conyazi">
                    <h1>Utancag olma!!!</h1>
                    <p>Həyat bir səhnədir sözü nəqədər yalnış anlaşılırsa artıq bu ölkədə insanlar bu sözə o qədər inanıb ki,kiminsə haqqında fikir bildirəndə özünü tamaşaçı və tənqidçi qismində hiss edir. Fikir bildirdiyi adamı isə aktyor.</p>
                    <div class="mail-me"><a href="mailto: rehman199577@gmail.com"><i class="fas fa-envelope-open-text"></i></a>
                        <h3>Mail yaz <br><span>rehman199577@gmail.com</span></h3>
                    </div>
                    <div class="call-me"><a href="tel:+994502015187"><i class="fas fa-phone-square-alt"></i></a>
                        <h3>Zəng et <br><span>+994 50 2015187</span></h3>
                    </div>
                    <div class="conyazi-icon">
                        <a href="https://facebook.com/rehman135" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://twitter.com/RehmanEsrefov" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href=https://github.com/rahmanashraf target="_blank"><i class="fab fa-github"></i></a>
                        <a href="https://www.instagram.com/rahmanashrafov/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="con-orta">
                    <div class="coninput">
                        <input type="text" placeholder="Adınızı qeyd edin">
                        <input type="text" placeholder="E-poçt ünvanınız">
                        <input type="text" placeholder="Mövzu">
                    </div>

                    <div class="con-text">
                        <input type="text" placeholder="Mesajınızı qeyd edin."></div>

                    <div class="test"><button>Bizə Göndər<i class="fas fa-paper-plane"></i></button></a>
                    </div>
                </div>

                <div class="connav">
                    <div class="connav-bar">
                        <ul>
                            <li><a href="index"><i class="fas fa-home"></i></a></li>
                            <li><a href="about"><i class="fas fa-user"></i></a></li>
                            <li><a href="brief"><i class="fas fa-briefcase"></i></a></li>
                            <li><a href="contact2"><i class="fas fa-envelope-open"></i><spa</a></li>
                            <li><a href="blog"><i class="fas fa-comments"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>