.container {
    width: 1525px;
    margin: 0 auto;
}

#mainpage {
    background-color: rgb(27, 24, 24);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dif-color {
    background-color: #ffb400;
    position: fixed;
    height: 200%;
    width: 100%;
    transform: rotate( -15deg);
    left: -78%;
    top: 12%;
    z-index: 1;
}

.header-photo {
    z-index: 2;
    position: absolute;
    background-color: black;
    top: 13%;
    left: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: calc(100vh - 80px);
    box-shadow: 0 0 7px rgb(0 0 0 / 90%);
    width: 390px;
    height: 435px;
    padding: 0px;
    border: 1px;
    border-radius: 30px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    padding-top: 40px;
}

.main {
    width: 100vh;
    position: relative;
}

.main-text {
    position: relative;
}