<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <img src="../static/images/main.jpg" class="background2" alt="" id="esas2">
    <div class="millioner2" id="esas">
        <div class="melumat">
            <div class="timer" id="app">
            </div>
            <div class="icon">
                <i class='fas fa-percent' id="ellilik" onclick="elli()"></i>
                <i class="fas fa-phone" onclick="dostazeng()" id="dostazengele"></i>
                <i class="fas fa-users" onclick="audit()" id="users"></i>
            </div>

            <div class="result">{{data1}} {{data2}}</div>
        </div>
        <div class="suallar" id="sual1">
            <div class="divsual">
                <p>Bunlardan hansinda OOP istifadə olunmur?</p>
            </div>
            <div class="cavablar" id="cavablar">
                <div class="cavab1" id="sehv1-1" onclick="sehv1()"><span>C++</span></div>
                <div class=" cavab11" id="duzgun1" onclick="duzgun1()" ondblclick="duzgunn1()"><span>Pascal</span></div>
                <div class="cavab1 " id="sehv1-2" onclick="sehv1()"><span>Java</span></div>
                <div class="cavab1" id="sehv1-3" onclick="sehv1()"><span>Ruby</span></div>
            </div>
        </div>
        <div class="suallar" id="sual2">
            <div class="divsual ">
                <p>HTML dilinin digər dillərdən əsas fərqi nədir?</p>
            </div>
            <div class="cavablar">
                <div class="cavab1" id="sehv2-1" onclick="sehv2()"><span>OOP yönümlü olmasında</span></div>
                <div class="cavab1" id="sehv2-2" onclick="sehv2()"><span>Ən sürətli dildir</span></div>
                <div class="cavab1" id="sehv2-3" onclick="sehv2()"><span>Süni intellektdə əsas götürülməsində</span></div>
                <div class=" cavab11" id="duzgun2" onclick="duzgun2()" ondblclick="duzgunn2()"><span>Dil qrupuna aid olmamasında</span></div>
            </div>
        </div>
        <div class="suallar" id="sual3">
            <div class="divsual ">
                <p>Space-x raket kompleksi dünyaya yeni nə gətirdi?</p>
            </div>
            <div class="cavablar">
                <div class=" cavab11" id="duzgun3" onclick="duzgun3()" ondblclick="duzgunn3()"><span>Geri dönə bilməsi</span></div>
                <div class="cavab1" id="sehv3-1" onclick="sehv3()"><span>Ən sürətli raket olması</span></div>
                <div class="cavab1" id="sehv3-2" onclick="sehv3()"><span>Hazırlanmasının ucuz başa gəlməsi</span></div>
                <div class="cavab1" id="sehv3-3" onclick="sehv3()"><span>Sərnişin daşımada istifadə olunmasında</span></div>
            </div>
        </div>
        <div class="suallar" id="sual4">
            <div class="divsual ">
                <p>Amazon şirkətinin başlanğıcı nə satşından ibarət idi?</p>
            </div>
            <div class="cavablar">
                <div class="cavab1" id="sehv4-1" onclick="sehv4()"><span>CD disk</span></div>
                <div class=" cavab11" id="duzgun4" onclick="duzgun4()" ondblclick="duzgunn4()"><span>Kitab</span></div>
                <div class="cavab1" id="sehv4-2" onclick="sehv4()"><span>Twitter-in yaranmasında</span></div>
                <div class="cavab1" id="sehv4-3" onclick="sehv4()"><span>LoveTest</span></div>
            </div>
        </div>
        <div class="suallar" id="sual5">
            <div class="divsual ">
                <p>Dünyada ən çox danışılan dil hansıdır</p>
            </div>
            <div class="cavablar">
                <div class="cavab1" id="sehv5-1" onclick="sehv5()"><span>İngilis dili</span></div>
                <div class="cavab1" id="sehv5-2" onclick="sehv5()"><span>Fransızca</span></div>
                <div class=" cavab11" id="duzgun5" onclick="duzgun5()" ondblclick="duzgunn5()"><span>Çin dili</span></div>
                <div class="cavab1" id="sehv5-3" onclick="sehv5()"><span>Latın dili</span></div>
            </div>
        </div>
        <audio id="suallar">
        <source src="../static/sound/suallar.mp3 " type="audio/mpeg ">
        </audio>
        <audio id="bye">
        <source src="../static/sound/bye.mp3 " type="audio/mpeg ">
        </audio>
        <audio id="final">
        <source src="../static/sound/final.mp3 " type="audio/mpeg ">
        </audio>
        <audio id="intro">
        <source src="../static/sound/intro.mp3" type="audio/mpeg ">
        </audio>
        <audio id="main">
        <source src="../static/sound/main.mp3" type="audio/mpeg ">
        </audio>
        <audio id="phone">
        <source src="../static/sound/phone.mp3" type="audio/mpeg ">
        </audio>
        <audio id="win">
        <source src="../static/sound/correct-answer.mp3" type="audio/mpeg ">
        </audio>
        <audio id="wrong">
        <source src="../static/sound/wrong.mp3" type="audio/mpeg ">
        </audio>
        <audio id="lets" autoplay>
        <source src="../static/sound/lets-play.mp3" type="audio/mpeg ">
        </audio>
        <audio id="fastes">
        <source src="../static/sound/fastest-finger.mp3" type="audio/mpeg ">
        </audio>
        <video id="video" width="500" height="300" autoplay></video>
    </div>
    <script src="../static/js/script.js"></script>
</body>

</html>