<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <img src="../static/images/main.jpg" class="background2" alt="">
    <div class="millioner2">
        <div class="melumat">
            <div class="timer" id="app">
            </div>
            <h3>who wants to be a Proggrammer</h3>
            <div class="result">{{data1}} {{data2}}</div>
        </div>
        <audio id="myAudio" loop autoplay>
        <source src="../static/sound/suallar.mp3" type="audio/mpeg">
        </audio>

    </div>

</body>

</html>