<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>

<body>
    <img src="../static/images/Screenshot_2.Jpg" class="background" alt="">
    <div class="millioner">

        <audio id="myAudio" loop autoplay>
        <source src="../static/sound/main.mp3" type="audio/mpeg">
        </audio>
        <form action="/" method="POST">
            <input type="submit" id="ButtonBasla" value="Başla" class="btn btn-primary btn-lg"></input>

        </form>
    </div>
    <script src="../static/js/script.js"></script>

</body>

</html>