<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .input {
            font-size: 50px;
            text-align: center;
            font-family: sans-serif;
        }
    </style>
</head>

<body>
    <form action="/" method="POST">
        <input type="text" name="ad" id="">
        <input type="text" name="parol" id="">
        <input type="submit" name="" id="">
    </form>
</body>

</html>